* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

header {
    background-color: black;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    background-color: white;
    color: black;
    padding: 0px 10px 0px 50px;
}
header a {
    text-decoration: none;
    color: white;
}
header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-right: 30px;
}

header nav ul li a {
    margin: 0 10px;
    padding: 5px;
    border-bottom: solid 2px white;
}

/*  .main-content-grid {
    display: grid;
    grid-template-columns: .75fr 2fr .4fr;
    grid-template-rows: repeat(3, 1fr);
}

*/

.about-me {
    display: grid;
    gap: 10px;
    row-gap: 10px;
    grid-template-columns: .70fr 2fr .4fr;
    grid-template-rows: 1fr;
    margin-bottom: 25px;
}
.title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: right;
    padding-top: 15px;
}
.about-me h1 {
    text-align: right;
    border-right: 2px solid black;
    padding-right: 10px;
}
.about-me p {
    grid-column: 2 /3 ;
    grid-row: 1 / 2;
    padding-bottom: 10px;
    margin: 10px;
}



    /* WORK */
.work {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;  
    gap: 10px;
    grid-template-columns: .70fr 2fr .4fr;  
    grid-template-rows: 1fr;
    margin-bottom: 25px;
}
.work h1 {
    text-align: right;
    border-right: 2px solid black;
    padding-right: 10px;
}
.img-position {

}
.img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
.img-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: darkorange;
    width: 100%;
    height: 100%;
}
.img-2 {
    background-color: red;
    width: 100%;
    height: 100%;
}
.img-3 {
    background-color: blue;
    width: 100%;
    height: 100%;
}
.img-4 {
    background-color: purple;
    width: 100%;
    height: 100%;
}
.img-5 {
    background-color: green;
    width: 100%;
    height: 100%;
}
.img-border {
    border: 2px solid red;
}


.contact-me {
    display: grid;
    gap: 10px;
    grid-template-columns: .70fr 2fr .4fr;
    margin-bottom: 10px;
}
.contact-me h1 {
    text-align: right;
    border-right: 2px solid black;
    padding-right: 10px;
}

.contact-info {
    margin: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact-info a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;
}